.sidebar{
    width: 250px; 
    margin: 0px 1px; 
    float:left;
    margin-top: 11.5px;
}
.content-div{
    margin:10px 10px; 
    padding: 20px 200px; 
    display: inline-block;
}
.product-container{
    float: left; 
    margin: 0 30px;
    
}
.mat-table-th{
    font-weight:bold; 
    font-size: 25px; 
    color: black;
}
.add-button{

    float: right;
    transform: scale(1.38);

}